:root {
  --clr-prim-100: #000c34;
  --clr-prim-200: #5ab2ff;
  --clr-prim-300: #a0deff;
  --clr-prim-400: #caf4ff;
  --clr-light: #fff;
  --clr-dark: #000;
  --bs-b: 0 10px 10px -5px rgba(0, 0, 0, 0.5);
  --bs-xy: 3px 3px 10px rgba(0, 0, 0, 0.5);
  --sp-0: 0.5rem;
  --sp-1: 1rem;
  --sp-2: 2rem;
  --sp-3: 3rem;
  --sp-4: 4rem;
  --sp-5: 5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: -webkit-fill-available;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
}

.main-con {
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--sp-1);
  background-image: url(../assets/index-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main-con .main-img {
  max-width: 300px;
}

#app-con {
  background-image: url(../assets/bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: left 0.4s ease;
  position: fixed;
  left: 110%;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
}
#app-con .header-bar {
  min-width: 100%;
  background-color: var(--clr-prim-100);
  box-shadow: var(--bs-b);
  padding-block: var(--sp-0);
  padding-inline: var(--sp-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
#app-con .header-bar .logo {
  width: 60px;
}
#app-con .header-bar .search-btn {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
#app-con .hymn-board {
  padding: 5rem 1rem 1rem;
  width: clamp(200px, 90%, 500px);
  min-height: 100%;
  margin-inline: auto;
  box-shadow: var(--bs-xy);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: 500;
  position: relative;
  overflow: hidden;
}
#app-con .hymn-board .search-wrapper {
  display: flex;
  width: 90%;
  justify-content: space-around;
  align-items: center;
  gap: var(--sp-0);
  margin-bottom: var(--sp-1);
  position: absolute;
  top: 5%;
  left: 100%;
  transform: translateX(5%);
  transition: all 0.4s linear;
}
#app-con .hymn-board .search-wrapper .search-el {
  width: 90%;
  background-color: var(--clr-prim-400);
  border: none;
  border-radius: 20px;
  box-shadow: var(--bs-b);
  outline: none;
  padding-block: var(--sp-0);
  padding-inline: var(--sp-1);
  font-size: 1rem;
  font-weight: bold;
}
#app-con .hymn-board .search-wrapper .search-el::-moz-placeholder {
  color: var(--clr-prim-300);
}
#app-con .hymn-board .search-wrapper .search-el::placeholder {
  color: var(--clr-prim-300);
}
#app-con .hymn-board .search-wrapper .search-el-close {
  font-size: 1rem;
  padding: 0.5rem;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: grid;
  cursor: pointer;
  place-content: center;
  color: var(--clr-prim-400);
  background-color: var(--clr-prim-100);
}
#app-con .hymn-board #hymn-list {
  padding: var(--sp-0);
}
#app-con .hymn-board #hymn-list .list-items {
  border-bottom: 1px solid var(--clr-prim-300);
  border-left: 1px solid var(--clr-prim-300);
  border-bottom-left-radius: 10px;
  margin-bottom: var(--sp-1);
  padding: var(--sp-0);
}
#app-con .footer-bar {
  width: 100%;
  background-color: var(--clr-prim-100);
  box-shadow: var(--bs-b);
  text-align: center;
  padding: var(--sp-0);
  position: absolute;
  bottom: 0;
}
#app-con .footer-bar .icons {
  margin-inline: 1.5rem;
  width: 25px;
  cursor: pointer;
}

@media (max-width: 768px) {
  #app-con .header-bar .logo {
    width: 42px;
  }
}/*# sourceMappingURL=main.css.map */